name: Generate Snake (VALO)

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Remohavva
          outputs: |
            dist/github-snake-valo.svg?color_snake=#ff4655&color_dots=#0f1923,#1f2933,#ff4655,#ff4655,#ffffff
            dist/github-snake-valo-dark.svg?palette=github-dark&color_snake=#ff4655

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
